// .eslintignore
build/*
public/*
src/service-worker.js
src/serviceWorkerRegistration.js
src/setupTests.js
src/reportWebVitals.js
src/components2
src/components/graphs
src/features
src/pages
src/sections
src/utils
