version: "3"
services: 
  api: 
    ***REMOVED***: .
    # instead of building the image in prod, you push the dev image up to dockerhub
    # and pull the image with the command below
    image: jonathanleejono/battery-cellify
    depends_on:
      - postgres
    ports: 
      - 80:8000
    # command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    env_file:
      - ./.env
    
  
  postgres:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    
    volumes:
      - postgres-db:/var/lib/postgresql/data

volumes:
  postgres-db: 
          