__pycache__
venv/
.env
Dockerfile
.pytest_cache
Procfile
nginx
gunicorn.service


**/.git
**/.gitignore
**/.vscode
**/coverage
**/.env
**/.aws
**/.ssh
Dockerfile
README.md
docker-compose.yml
**/.DS_Store
**/venv
**/env